<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class="container px-5 px-sm-0">

    <div class="row">
      <div class="col-md-3 img-1">
        <% if user_signed_in? %>
          <%= render 'facilities/sidebar', user: current_user %>
        <% else %>
          <%= render 'facilities/nologin' %>
        <% end %>
      </div>

      <div class="col-md-8 offset-md-1" >
        <h2><%= @facility.name %></h2>
        <div class= "card">
          <div class="card-header">
            <%= attachment_image_tag @facility, :image, :fill, 400, 100, format:'jpeg', fallback:"default-image.jpg" , class:"card-image-top"%>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= @facility.address %></li>
              <li class="list-group-item"><%= link_to "サイトはこちら", @facility.url %></li>
            </ul>
            <p>updated by <%= @facility.user.name %></p>
          </div>
        </div>
        <hr>

        <h3><%= @reviews.count %>件のレビュー</h3>
          <%= link_to "レビュー追加", new_facility_review_path(@facility.id), class:"col-2 btn btn-sm btn-primary" %>

        <% @reviews.each do |r| %>
          <div class= "card w-100">
            <div class="card-body">
              <h5 class="card-title"><%= r.updated_at %><br>posted by <strong><%= r.user.name %></strong></h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">満足度：<%= r.satisfaction %></li>
                <li class="list-group-item">利用人数：<%= r.people %></li>
                <li class="list-group-item">利用時間：<%= r.usage_time %></li>
                <li class="list-group-item">利用料：<%= r.usage_fee %>円</li>
                <li class="list-group-item">借用品：<%= r.borrowed_goods %></li>
                <li class="list-group-item">利用してみての感想：<%= r.body %></li>
                <% if current_user == r.user %>
                  <%= link_to "削除" ,facility_review_path(r.facility_id ,r.id), method: :delete,data: { confirm: "本当に削除しますか" }, class:"col-2  btn btn-danger btn-sm" %>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>