<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class="container px-5 px-sm-0">

    <div class="row">
      <div class="col-md-3">
        <% if user_signed_in? %>
          <%= render 'facilities/sidebar', user: current_user %>
        <% else %>
          <%= render 'facilities/nologin' %>
        <% end %>
      </div>

      <div class="col-md-8 offset-md-1" >
        <h2>New Review</h2>
        <div class= "card p-4">
          <h5 class="card-title"><%= @facility.name %></h5>
          <p>
            <%= @facility.address %><br>
            updated by <%= @facility.user.name %>
          </p>
        </div>
        <div class="shadow-lg rounded px-0 my-5">
        <div class="form-body p-4">
           <% if @review.errors.any? %>
            <h2><%= @review.errors.count %>error prohibited this obj from being saved:</h2>
            <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          <% end %>
          <%= form_with model: @review, url: facility_reviews_path, local:true do |f| %>
            <lavel for="Satisfaction">満足度</lavel>
            <div>
              <%= f.select :satsisfaction, [ [1],[2],[3],[4],[5] ], class:"form-control" %>
            </div>
            <label for="People">利用人数</label>
            <div class="input-group mb-3 ">
              <%= f.select :people, [ [1],[2],[3],[4],[5],[6],[7],[8],[9],['10人以上']], class:"form-control" %>
            </div>
            <label for="borrowed_goods">借用品・備品</label>
            <div class="input-group mb-3 ">
              <%= f.text_field :borrowed_goods, class:"form-control", rows:"3", placeholder:"(例)無料で譜面台を借りれます" %>
            </div>
            <label for="borrowed_goods">使用時間</label>
            <div class="input-group mb-3 ">
              <%= f.text_field :usage_time, class:"form-control", rows:"3", placeholder:"(例)3時間" %>
            </div>
            <label for="usage_fee">利用料</label>
            <div class="input-group mb-3 ">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true">円は除いた数</span>
              </div>
              <%= f.text_field :usage_fee, class:"form-control", rows:"3", placeholder:"(例)300" %>
            </div>
            <label for="body">感想</label>
            <div class="input-group mb-3 ">
              <%= f.text_area :body, class:"form-control", rows:"3", placeholder:"例)部屋はきれいだった。受付の方の対応が良かった。" %>
            </div>
            <br>
            <%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>